.venv/
venv/
.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

build/
dist/
*.egg-info/

/config/
/data/

.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/
.tox/

.idea/
.vscode/

.DS_Store
Thumbs.db
